%h1 #{@user.username} has been quit
%p#notice= notice

%p
  %b 
    = distance_of_time_in_words(@quit_profile.quit_date.to_time, Time.now, false)

%p
  %b Cigarettes per day:
  = @quit_profile.cigarettes_per_day
%p
  %b Cigarettes per pack:
  = @quit_profile.cigarettes_per_pack
%p
  %b Cost per pack:
  #{number_to_currency(@quit_profile.cost_per_pack)} USD
%p
  %b Quit date:
  = @quit_profile.quit_date.to_date


