%h1 #{@user.username} has been quit
%p#notice= notice

%p
  %b 
    = distance_of_time_in_words(@quit_profile.quit_date.to_time, Time.now, false)
%p
  %b
    In other words... 

%ul
  %li
    = "#{number_to_currency(@quit_profile.money_saved)} USD saved" 
  %li
    = "#{distance_of_time_in_words(@quit_profile.current_time_plus_life_saved, Time.now, false)} of life saved" 
  %li
    = "Cigarettes not smoked: #{@quit_profile.cigarettes_not_smoked}"






